.titulo-form {
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0;
}

.form-block {
    margin-bottom: 0.25em;
}

label {
    font-size: 10pt;
    margin-left: 1em;
    margin-right: 0.25em;
}

label.requerido:after {
    content: "*";
    color: red;
}

.dados{
    width: 600px;
    margin: auto;
}

.dados span{
    width: 400px;
    text-align: left;
}

.dados label{
    width: 200px;
    text-align: right;
    display: block;
}
