<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Candidatos Inscritos</title>
    </h:head>
    <h:body>
        <h:dataTable value="#{registroBean.candidatosList}" var="candidato" 
                     styleClass="candidatoTable"
                     headerClass="candidatoTableHeader"
                     rowClasses="OddRow,EvenRow">
            <h:column>
                <f:facet name="header">CPF</f:facet>
                #{candidato.cpf}
            </h:column>
             <h:column>
                <f:facet name="header">Nome</f:facet>
                #{candidato.nome}
            </h:column>
             <h:column>
                <f:facet name="header">Cidade</f:facet>
                #{candidato.cidade}
            </h:column>
             <h:column>
                <f:facet name="header">Estado</f:facet>
                #{candidato.estado}
            </h:column>
            
        </h:dataTable>
    </h:body>
</html>

