<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">        
        <h:form>
            <h:panelGroup  layout="block" styleClass="titulo-form">INSCRIÇÃO CONFIRMADA</h:panelGroup>
            Prezado(a) #{inscricaoBean.candidato.nome},
            Seguem os dados da sua insrição
            <h:panelGroup  layout="block" styleClass="dados">
                <h:outputLabel for="idioma">Idioma escolhido:</h:outputLabel> 
                <h:outputText id="idioma">#{inscricaoBean.candidato.idioma.descricao}</h:outputText>
            </h:panelGroup >
                <h:panelGroup  layout="block" styleClass="dados">
                <h:outputLabel for="cpf">CPF: </h:outputLabel>
                <h:outputText id="cpf">#{inscricaoBean.candidato.cpf}</h:outputText>
            </h:panelGroup >
            <h:panelGroup  layout="block" styleClass="dados">
                <h:outputLabel for="datahora">Data e hora: </h:outputLabel>
                <h:outputText id="datahora">#{inscricaoBean.candidato.dataHora}</h:outputText>
            </h:panelGroup >
            <h:panelGroup  layout="block" styleClass="dados">
                <h:outputLabel for="endereco">Endereço: </h:outputLabel>
                <h:outputText id="endereco">#{inscricaoBean.candidato.endereco}</h:outputText>
            </h:panelGroup >
            <h:commandButton value="Voltar" action="inscricao"/>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
