<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:panelGroup  layout="block" styleClass="titulo-form">Login</h:panelGroup>
                <h:panelGroup  layout="block" styleClass="">
                    <h:outputLabel for="usuario">Usuário:</h:outputLabel> 
                    <h:inputText id="usuario">#{inscricaoBean.candidato.idioma.descricao}</h:inputText>
                </h:panelGroup >
                <h:panelGroup  layout="block" styleClass="">
                    <h:outputLabel for="senha">Senha:</h:outputLabel>
                    <h:inputSecret id="senha">#{inscricaoBean.candidato.cpf}</h:inputSecret>
                </h:panelGroup >
                <h:panelGroup  layout="block" styleClass="">                    
                    <h:commandButton value="Logar" action="login"/>
                </h:panelGroup >            
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
